################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/AxInterop.jc_MDITabs.dll
/obj/Debug/BAR.application
/obj/Debug/BAR.exe
/obj/Debug/BAR.exe.manifest
/obj/Debug/BAR.pdb
/obj/Debug/BAR.vbproj.AssemblyReference.cache
/obj/Debug/BAR.vbproj.CoreCompileInputs.cache
/obj/Debug/BAR.vbproj.FileListAbsolute.txt
/obj/Debug/BAR.vbproj.GenerateResource.cache
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/Interop.jc_MDITabs.dll
/obj/Debug/Interop.Microsoft.Office.Core.dll
/obj/Debug/Interop.SubclassingSink.dll
/obj/Debug/Interop.VBIDE.dll
/obj/Debug/jgiminsil.FSERVITOROI.resources
/obj/Debug/jgiminsil.MDIParent1.resources
/.vs/BAR/FileContentIndex/1f03f5ff-289e-4748-8248-6e3c0ef01b6e.vsidx
/.vs/BAR/FileContentIndex/34896364-7cb5-4324-a903-b7f03122a16b.vsidx
/.vs/BAR/FileContentIndex/735dc7a7-92b4-4b9d-b07d-a07c52a1e229.vsidx
/.vs/BAR/FileContentIndex/8d908678-4bdc-43ba-bb22-68f56cb6f058.vsidx
/.vs/BAR/FileContentIndex/d6168360-2d12-4b1c-a1f4-3fba27873acf.vsidx
/bin/Debug/Interop.jc_MDITabs.dll
/bin/Debug/Interop.Microsoft.Office.Core.dll
/bin/Debug/Interop.SubclassingSink.dll
/bin/Debug/Interop.VBIDE.dll
/bin/Debug/stdole.dll
